
[submodule "watch_hub_api/project"]
	path = watch_hub_api/project
	url = https://github.com/muneebusmani/watch_hub_api
[submodule "watch_hub_client"]
	path = watch_hub_client
	url = https://github.com/muneebusmani/watch_hub_client
